:root {
    --engiee-red: rgb(214.7,51,55);
}

body, html {
    background: black;
    height: 100%;
    width: 100%;
    margin: 0;
}

#video-container {
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

#video {
    width: 100%;
    height: 100%;
}

#logoArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo {
    width: 28%;
}

#menuArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 750px;
}

.menuButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--engiee-red);
    color: white;
    height: 125px;
    width: 30%;
    margin: 3px;
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    transition: transform 200ms;
}

.menuButton:hover {
    cursor: pointer;
    border: 3px solid white;
    transform: translate(0%, -5%);
}

.menuSubOption {
    font-size: 17px;
    color: var(--engiee-red);
    background: black;
    border: 3px solid var(--engiee-red);
}

.menuSubOption:hover {
    transform: translate(0%, 5%);
}

img {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

.menuSubOptionIcon {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}

#footer {
    position: absolute;
    font-family: monospace;
    font-weight: bold;
    font-size: 17px;
    color: white;
    bottom: 0;
    right: 5px;
}